@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

:root {
    --font-kr: 'Nanum Gothic', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    tab-size: 4
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    line-height: 1.35em;
}
*, :after, :before {
    box-sizing: border-box;
    flex-shrink: 0;
}
html, body {
    height: 100%;
}
ul{
    list-style: none;
}
img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}
button{
    background: none;
    border: 0;
    cursor: pointer;
}
a{
    text-decoration: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset{
    border: 0;
}
body{
    font-family: var(--font-kr);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.05em;
    vertical-align: baseline;
    font-family: 'Nanum Gothic';
    color: #222;
}
input{
    background: transparent;
}